.product-image {
    object-fit: contain;
    width: 100%;
    height: 196px;
}

.product-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}